---
import 'normalize.css'
import 'sanitize.css'
import 'sanitize.css/typography.css'

import { Markdown } from 'astro/components';

import { Test } from '../components/Test.tsx'

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello Astro!</title>
    <style>
body {
  padding: 1rem;
}
    </style>
  </head>
  <body>
    <Markdown>
      # Astro + SolidJS playground

      Happily running on Vite.

      ## Stuff developed here

      - [The Settlers II Text Editor](./settlers2Text)
    </Markdown>

    <Test client:load />
  </body>
</html>