---
import 'normalize.css'
import 'sanitize.css'
import 'sanitize.css/typography.css'

import { PaletteEditor } from '../../components/PaletteEditor/PaletteEditor.tsx'

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Palette Editor</title>
    <style>
      body { padding: 2rem; }
      :global(table) {
        line-height: 1.5;
      }
      :global(td),
      :global(th) {
        padding: 0.5rem;
        text-align: left;
        vertical-align: top;
      }
      :global(tbody tr:nth-child(odd)) {
        background: rgba(0, 0, 0, 0.05)
      }
    </style>
  </head>
  <body>
    <PaletteEditor client:load />
  </body>
</html>