---
import 'normalize.css'
import 'sanitize.css'
import 'sanitize.css/typography.css'

import { PaletteEditor } from '../../components/PaletteEditor/PaletteEditor.tsx'

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Palette Editor</title>
  </head>
  <body>
    <PaletteEditor client:load />
  </body>
</html>